:root {
    --main-text-color: hsl(233, 8%, 62%);
}


body {
    background-color: hsl(0, 0%, 100%);

    margin-top: 75px;
}

header {
    background-color: hsl(0, 0%, 100%);
    height: 75px;
    align-items: center;

    display: flex;
    justify-content: space-evenly;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav-brand {
      
    width: 25%;
    margin-left: 60px;
}

nav {
    /* background-color: green; */
    width: 40%;
    color: var(--main-text-color);

    display: flex;
    height: 20px;

    /* z-index: 56; */
    
}

.nav-items {

    /* background-color: blue; */

    display: flex;
    column-gap: 20px;
    height: 50px;
    align-items: center; 
    
    
}

.nav-item {
    min-height: 100%;
    transition: all .3s;
}

.nav-item:hover {
    border-image: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-bottom: 5px solid; 
    border-image-slice: 2;

}

.request-invite-button {

    background: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    height: 45px;
    padding: 20px;
    border: none;
    line-height: 0;
    border-radius: 20px;
    width: 160px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: .9em;
}


/* main */


.home {
    /* background-color: red; */
    /* position: relative;*/

    display: flex;
    padding-left: 30px;
    width: 100%;
    min-height: 400px;
}

.company-presentation-section {
    /* background-color: darkorange; */

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.company-presentation {
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 30px 30px 0;
    width: 75%;
}

h1 {
    /* background-color: lightblue; */
    font-size: 2.4em;
    font-weight: 400;
    width: 80%;
}

.short-description {
    /* background-color: pink; */
    font-size: 1em;
    line-height: 1.3;
    color: var(--main-text-color);
}

aside {
    /* background-color: darkviolet; */
    width: 50%;
    height: 600px;
}

aside::after {
    content: url('../../assets/images/bg-intro-desktop.svg');

    position: absolute;
    z-index: -2;

    width: 90%;
    height: 1%;
    top: -250px;
    left: 480px;
    
}

.image-mockups {
    position: relative;
    object-fit:cover;
    height: 90%;
    width: 100%;

    margin-top: 20px;

    overflow-y: visible;
}
