:root {
    --main-text-color: hsl(233, 8%, 62%);
}


body {
    background-color: hsl(0, 0%, 100%);
}

header {
    /* background-color: darkgoldenrod; */

    height: 75px;
    align-items: center;

    display: flex;
    justify-content: space-evenly;

    position: relative;

    
    z-index: 2;
}

.nav-brand {
    /* background-color: red; */
    width: 25%;
    margin-left: 60px;
}

nav {
    /* background-color: green; */
    width: 40%;
    color: var(--main-text-color);

    display: flex;
    height: 20px;

    z-index: 56;
    
}

.nav-items {

    /* background-color: blue; */

    display: flex;
    column-gap: 20px;
    height: 50px;
    align-items: center; 
    
    
}

.nav-item {
    min-height: 100%;
    transition: all .3s;
}

.nav-item:hover {
    border-image: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-bottom: 5px solid; 
    border-image-slice: 2;

}

.request-invite-button {

    background: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    height: 45px;
    padding: 20px;
    border: none;
    line-height: 0;
    border-radius: 20px;
    width: 160px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: .9em;
}


/* main */


.home {
    background-color: red;
    /* position: relative;*/

    display: flex;
    padding-left: 30px;
    width: 100%;
    min-height: 400px;
}

.company-presentation-section {
    background-color: darkorange;
    width: 45%;
}

aside {
    background-color: darkviolet;
    width: 55%;
    height: 600px;
    z-index: 0;
}

.image-mockups {
    position: relative;
    object-fit:cover;
    height: 100%;
    width: 100%;
    overflow-y: visible;
}
