:root {
    --main-text-color: hsl(233, 8%, 62%);
}


body {
    background-color: hsl(0, 0%, 100%);
}

header {
    /* background-color: darkgoldenrod; */

    height: 75px;
    align-items: center;

    display: flex;
    justify-content: space-evenly;
}

.nav-brand {
    /* background-color: red; */
    width: 25%;
    margin-left: 60px;
}

nav {
    /* background-color: green; */
    width: 40%;
    color: var(--main-text-color);
}

.nav-items {

    background-color: red;

    display: flex;
    column-gap: 20px;
    height: 75px;
    align-items: center; 
}


.nav-item:hover {
    border-image: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

    border: 2px solid red;

}


.request-invite-button {

    background: linear-gradient(100deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    height: 45px;
    padding: 20px;
    border: none;
    line-height: 0;
    border-radius: 20px;
    width: 160px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: .9em;
}
